*{
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  background: #ffffff;
}
body{
  background: linear-gradient(45deg, white, whitesmoke, lightgray);
  height: 100vh;
  width: 100vw;
}

#__next{
  height: 100vh;
}

.bg-darkblue{
  background-color: dodgerblue;
}

input, select, textarea{
  box-shadow: none !important;
}

.content-container{
  flex: 1;
  display: flex;
  text-align: left;
}

.form-box{
  padding: 10px;
  width: 75%;
}