*{
  margin: 0px;
  padding: 0px;
}

:root {
  background: #ffffff;
}
body{
  background: linear-gradient(45deg, white, whitesmoke, lightgray);
  height: 100vh;
  width: 100vw;
}

#__next{
  height: 100vh;
  padding-left: 250px;
}

.bg-darkblue{
  background-color: rgb(32, 45, 165);
}